<div id="breadcrumbs" class="text-xs font-light flex items-center gap-2 px-1 max-w-full mb-8">
	{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
	<a href="{{ '/' | relative_url }}" class="font-normal transition-opacity hover:opacity-80">Главная</a>
	{% for crumb in crumbs offset: 1 %}
	{% if forloop.last %} 
	<span class="font-normal">—</span><span class="truncate">{{ page.breadcrumbs | default: page.title }}</span>
	{% else %}
	<span class="font-normal">—</span>
	<a
		href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}"
		class="font-normal transition-opacity hover:opacity-80 whitespace-nowrap"
		>
		{% assign eng = crumb | replace:'-',' ' | remove:'.html' %}
		{% case eng %}
			{% when 'models' %}
			{% assign ru = 'Модели' %}
			{% when 'buyers' %}
			{% assign ru = 'Покупателям' %}
		{% endcase %}
		{{ru}}
	</a>
	{% endif %}
	{% endfor %}
</div>
