<footer class="bg-black text-white py-8">
    <div class="container">
        <div class="flex justify-center">
            <a
                class="disclamer_switch switch text-white underline transition hover:no-underline"
                href="#"
                target="_blank"
                >Подробные условия акций</a
            >
        </div>
        <div class="disclamer text-xs" style="display: none;">
            <p>
                * Данный сайт не является публичной офертой. Подробные условия уточняйте в
                отделе продаж.
            </p>
        </div>
    </div>
</footer>