<header 
    class="w-full top-0 left-0 bg-white z-50 transition-all duration-200 ease-out-expo {% if page.url == '/' %} sticky md:fixed {% else %} sticky {% endif %}"
>
    <div class="container">
        <div class="flex max-[450px]:flex-col items-center max-[450px]:justify-center justify-between max-[450px]:gap-3 h-[80px]">
            <a
                href="{{ '/' | relative_url }}"
                class="flex items-center flex-nowrap justify-center flex-col lg:flex-row gap-1 lg:gap-4"
            >
                <div class="lg:pr-4 lg:border-r border-r-[#628788]">
                    <img src="{{ 'img/logo.svg' | relative_url }}" class="h-10" alt="Livan" />
                </div>
                <div
                    class="text-xs sm:text-xl lg:text-2xl leading-none uppercase tracking-wider lg:tracking-normal"
                >
                    {{ site.logo_name }}
                </div>
            </a>
            <div class="top_addr hidden xl:block">
                {{ site.address }}
            </div>
            <a
                href="tel:{% include utils/phonef.html phone=site.phone %}"
                class="top_phone font-medium md:text-lg"
                >{{ site.phone }}</a
            >

            <a
                class="popup-link btn flex-shrink-0 !px-3 md:!px-14 !py-2 md:!py-3 text-xs md:text-base"
                href="#common-modal"
                data-title="Заказать звонок"
                data-form_name="Заказ звонка. Шапка"
            >
                Заказать звонок
            </a>

        </div>
    </div>
</header>