<script type="text/javascript" >
(function() {
  var analyticsLoaded = false;

  function loadAnalyticsScripts() {
    if (!analyticsLoaded && location.host == "livanorenburg.ru") {
      analyticsLoaded = true;

      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(94735657, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
      });

      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PC95WJZH');
    }
  }

  function initializeEventListeners() {
    // Отслеживание скроллинга
    window.addEventListener('scroll', loadAnalyticsScripts);

    // Отслеживание движения мыши
    document.addEventListener('mousemove', loadAnalyticsScripts);
  }

  // Ждем загрузки DOM перед инициализацией
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeEventListeners);
  } else {
    initializeEventListeners();
  }
})();
</script>
