<section class="pt-20">
    <div class="container">
        <h2 class="text-xl sm:text-4xl font-medium mb-14">Наши контакты</h2>
    </div>
    <div class="relative h-auto lg:h-[600px]">
        <div
            class="relative lg:absolute lg:max-w-md w-full lg:top-1/2 lg:-translate-y-1/2 py-8 px-4 sm:px-8 z-10 bg-white shadow-2xl map-info"
        >
            <div
                class="flex items-center flex-nowrap flex-col sm:flex-row gap-1 sm:gap-4 mb-6"
            >
                <div class="sm:pr-4 sm:border-r border-r-[#628788]">
                    <img src="{{ 'img/logo.svg' | relative_url }}" class="h-10" alt="Livan" />
                </div>
                <div
                    class="text-xl sm:text-2xl leading-none uppercase tracking-wider sm:tracking-normal"
                >
                    {{ site.logo_name }}
                </div>
            </div>
            <div class="flex flex-nowrap gap-2 sm:gap-4 mb-4">
                <span class="mdi mdi-map-marker-radius-outline text-3xl"></span>
                <div>
                    <div class="font-medium mb-2 sm:text-lg">
                        {{ site.postal_code }}, {{ site.address }}
                    </div>
                </div>
            </div>
            <div class="flex flex-nowrap gap-2 sm:gap-4 mb-4">
                <span class="mdi mdi-clock-outline text-3xl"></span>
                <div class="font-medium mb-2 sm:text-lg">
                    {{ site.office_hours }}
                </div>
            </div>
            <div class="flex flex-nowrap items-center gap-2 sm:gap-4 mb-4">
                <span class="mdi mdi-cellphone-check text-3xl"></span>
                <a href="tel:{% include utils/phonef.html phone=site.phone %}" class="font-medium sm:text-xl"
                    >{{ site.phone }}</a
                >
            </div>
            <div class="flex flex-nowrap gap-2 sm:gap-4">
                <span class="mdi mdi-information-slab-circle-outline text-3xl"></span>
                <div class="font-medium mb-1 sm:text-md">
                    <p>{{ site.company }}</p>
                    <p>ИНН: {{ site.inn }}</p>
                    <p>ОГРН: {{ site.ogrn }}</p>                    
                </div>
            </div>
            <h3 class="font-bold sm:text-xl mb-4">
                Остались вопросы? Мы&nbsp;перезвоним!
            </h3>
            <a
                class="popup-link btn black max-w-[400px] w-full block"
                href="#common-modal"
                data-title="Заказать звонок"
                data-form_name="Заказ звонка. Секция Контакты"
            >
                Заказать звонок
            </a>
        </div>
        <div
            id="map"
            class="map overflow-hidden bg-cover bg-center static w-full h-[400px] lg:h-full"
            style="background-image: url({{ 'img/map_bg.jpg' | relative_url }} )"
        ></div>
    </div>
</section>