{% assign modelList = include.models %}

<section class="pb-20">
    <div class="container">
        <div class="grid min-[500px]:grid-cols-2 lg:grid-cols-3 gap-5">
            {%- for model in modelList -%}
                <div class="text-center shadow-2xl py-5 px-5 transition-shadow duration-300 hover:shadow-lg">
                    <a href="{{ model.url | relative_url }}" class="block">
                        <img src="{{ model.thumb | relative_url }}" class="max-w-full w-full h-auto" alt="{{ model.title }}">
                    </a>
                    <h3 class="font-medium text-xl md:text-2xl mb-8">{{ model.title }}</h3>
                    <a href="{{ model.url | relative_url }}" class="btn black text-sm block">Подробнее о модели</a>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>