{%- assign models = site.data.models -%}
{%- if models.size > 0 -%}
{%- for model in models -%}
<section class="relative pb-20 z-[1] model bg-gray-100" data-dir="{{ model.id }}">
    <img src="{{ model.homeBg | relative_url }}" class="absolute w-full h-[420px] z-[-1]" alt="{{ model.modelName }}">
    <div class="absolute w-full h-[420px] bg-black/30 z-[-1]"></div>
    <div
        class="hidden md:block absolute left-[53%] -translate-x-1/2 top-[25%] lg:top-[20%] xl:top-[22%] 2xl:top-[20%]"
    >
        {% include blocks/model/colors.html model=model classes="-top-4 lg:-top-10 xl:-top-16" %}
    </div>

    <div class="container pt-10">
        <div class="flex justify-between items-start flex-col lg:flex-row">
            <div>
                <h2 class="text-2xl sm:text-5xl text-white tracking-widest uppercase">
                    Livan
                    <b
                        class="font-bold text-black tracking-normal text-5xl sm:text-8xl"
                        >{{ model.modelName }}</b
                    >
                </h2>
                <p class="uppercase text-white text-lg md:text-2xl">
                    {{ model.slogan }}
                </p>
            </div>
            <a href="{{ model.id | prepend: '/models/' | downcase | relative_url }}" class="text-white mt-10 lg:mt-0 flex items-center gap-1.5 group relative z-10">
                Подобрать комплектацию
                <span class="w-4 h-4 bg-accent text-white rounded-full flex items-center justify-center translate-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-1">
                    <span class="mdi mdi-chevron-right pl-0.5"></span>
                </span>
            </a>
        </div>
        <div class="flex flex-col gap-4 mt-10 lg:mt-20">
            <a
                class="popup-link w-fit inline-flex items-center flex-nowrap gap-1.5 text-white font-medium text-xl"
                href="#common-modal"
                data-title="Выгодный трейд-ин"
                data-form_name="Выгодный трейд-ин. Livan {{model.modelName}}"
            >
                <span class="w-10 h-10 rounded-full bg-accent text-white flex items-center justify-center">
                    <span class="mdi mdi-wallet-bifold-outline text-2xl"></span>
                </span>
                Выгодный трейд-ин
            </a>
            <a
                class="popup-link credit-link w-fit inline-flex items-center flex-nowrap gap-1.5 text-white font-medium text-xl"
                href="#common-modal"
                data-title="Выгодный кредит"
                data-form_name="Выгодный кредит. Livan {{model.modelName}}"
            >
                <span class="w-10 h-10 rounded-full bg-accent text-white flex items-center justify-center">
                    <span class="mdi mdi-gift-outline font-normal text-2xl"></span>
                </span>
                Выгодный кредит
            </a>
        </div>

        <div class="block md:hidden mb-10">
            {% include blocks/model/colors.html model=model %}
        </div>

        <div
            class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-y-10 2xl:gap-y-0 2xl:grid-cols-6 mt-4 md:mt-[250px] xl:mt-[380px] divide-x"
        >
        {%- assign id = model.id | downcase -%}
        {% assign chs = site.data[id]  %}
        {% for ch in chs %}
        {% for val in ch.values %}
        {%- if val.key contains "Колесная база" 
        or val.key contains "Длина" 
        or val.key contains "Ширина" 
        or val.key contains "Объем двигателя" 
        or val.key contains "Крутящий момент" 
        or val.key contains "Привод" 
        -%}
            {% include blocks/model/params-item.html title=val.key value=val.value %}
        {%- endif -%}
        {% endfor %}
        {% endfor %}
            
        </div>

        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-14">
            <a
                class="popup-link btn black btn-o"
                href="#common-modal"
                data-title="Узнать цену"
                data-form_name="Узнать цену. Livan {{model.modelName}}"
            >
                Узнать цену
            </a>
            <a
                class="popup-link btn !px-0"
                href="#common-modal"
                data-title="Рассчитать кредит"
                data-form_name="Рассчитать кредит. {{model.modelName}}"
            >
                Рассчитать кредит
            </a>
            <a
                class="popup-link btn black !px-0"
                href="#common-modal"
                data-title="Записаться на тест-драйв"
                data-form_name="Запись на тест-драйв. {{model.modelName}}"
            >
                Записаться на тест-драйв
            </a>
            <a
                class="popup-link btn gray !px-0"
                href="#common-modal"
                data-title="Узнать цену по акции"
                data-form_name="Узнать цену по акции. {{model.modelName}}"
            >
                Узнать цену по акции
            </a>
        </div>
    </div>
</section>
{%- endfor -%}
{%- endif -%}
