<section class="py-14 sm:py-20">
    <div class="container">
        <h2 class="text-xl sm:text-4xl font-medium mb-8 sm:mb-14">Услуги ДЦ</h2>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-5">

            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-car-settings text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Сервис</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-car text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Тест-драйв</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-car-wash text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Мойка</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-coffee text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Кафе</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-car-wrench text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Кузовной ремонт</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-shield-check-outline text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Гарантийный ремонт</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-car-key text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Новые автомобили</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-car-3-plus text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Автомобили с пробегом</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-autorenew text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Trade-in</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-car-battery text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Продажа запасный частей</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-cash-100 text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Выкуп автомобилей</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-credit-card-check text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Кредитование</span>
            </div>
            <div class="rounded-lg bg-gray-100 p-1 sm:p-3 flex items-center flex-nowrap gap-1 sm:gap-2 shadow-lg">
                <span class="mdi mdi-shield-car text-xl sm:text-2xl md:text-4xl"></span>
                <span class="block text-xs sm:text-lg 2xl:text-xl">Страхование</span>
            </div>

        </div>

    </div>
</section>