<section class="py-10 sm:py-20 bg-gray-50 text-lg">
    <div class="container">
        <h2 class="text-medium text-2xl mb-8">Быть свободным и ответственным</h2>
        <p>Наша жизнь — это движение. Движение и свобода. Свобода и новые цели. Никогда не довольствоваться достигнутым, не останавливаться, всегда стремиться к развитию технологий. Пробовать, ломать шаблоны, верить и действовать, стать экспертом нового времени. Изменить свой взгляд, свои мысли и стиль жизни и разбудить свое новое «Я».</p>
    </div>
</section>