{%- assign s = include.section -%}

<section class="py-20 font-light bg-gray-100 section" id="{{ s.id }}">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
            <div>
            {%- if s.name -%}
                <p class="text-accent text-sm">{{ s.name }}</p>
            {%- endif -%}
                <h2 class="text-3xl sm:text-5xl font-normal">{{ s.title }}</h2>
                {%- if s.descr -%}
                <p class="mt-2 sm:mt-5">{{ s.descr }}</p>
                {%- endif -%}
                {%- assign items = s.items -%}
                {%- if items.size > 0 -%}
                <div class="mt-10 lg:mt-20 flex flex-wrap gap-10">
                {%- for item in items -%}
                    <div class="">
                        <h3 class="text-4xl text-gray-800 font-bold">{{ item.title }}</h3>
                    {%- if item.descr -%}
                        <p class="text-xs">{{ item.descr }}</p>
                    {%- endif -%}
                    </div>
                {%- endfor -%}
                </div>
                {%- endif -%}
            </div>
            {%- if s.img and s.img != nill -%}
                <img src="{{ s.img | relative_url }}" class="max-w-full w-full h-auto" alt="{{ s.name }}">
            {%- endif -%}
        </div>
    </div>
</section>